github "CocoaLumberjack/CocoaLumberjack"
github "robbiehanson/CocoaAsyncSocket"
github "zhuhaow/Sodium-framework"
github "lexrus/MMDB-Swift"
github "behrang/YamlSwift"
git "https://github.com/JayZhao/tun2socks" "master"
git "https://github.com/zhuhaow/Resolver" "master"
